body{
    background-color: #ececec;
    padding: 0;
    margin: 0;

}


input[type=checkbox]{
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow: -10px 10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    position:absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    border-radius: 50%;
    border:8px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


input[type=checkbox]:after{
    font-family: fontAwesome;
    content: '\f011';
    color: #7a7a7a;
    font-size: 70px;

}

input[type=checkbox]:checked{
    box-shadow: -10px 10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px 10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type=checkbox]:checked:after{
     
color: #12a364;
}

